<a href="https://colab.research.google.com/github/jorgeklz/a-moc/blob/master/clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Comentarios**

---

In [ ]:
print('Hola Chiquill@s') # Este es un comentario, y print es una función.

# **Variables e impresión**

---

In [ ]:
edad = 21
nombre = 'Ale Nielsen'
print('{0} tiene {1} años y estudia Arte'.format(nombre, edad))
print('¿Por qué está {0} aprendiendo Python?'.format(nombre))

In [ ]:
edad = 21
nombre = 'Ale Nielsen'
print('{} tiene {} años y estudia Arte'.format(nombre, edad))
print('¿Por qué está {0} aprendiendo Python?'.format(nombre))

In [ ]:
edad = 21
nombre = 'Ale Nielsen'
print('{nombre} tiene {edad} años y estudia Arte'.format(nombre=nombre, edad=edad))
print('¿ Por qué {nombre} está aprendiendo Python?'.format(nombre=nombre))

In [ ]:
a= 28
b= 5
print(a + b)

# **Indentación**

---

In [ ]:
#Las declaraciones que van juntas deben tener la misma sangría. 
#Cada conjunto de declaraciones se llama bloque.
#La sangría incorrecta puede dar lugar a errores.

a = 28
# Esta declaración es inválida porque tiene un espacio al inicio de la línea
 print('El valor es', a)

In [ ]:
a = 28
print('Ahora si, el valor es ', a)

# **Operadores**

---

In [ ]:
4 + 2 * 2 # operaciones aritmeticas basicas.

In [ ]:
7 // 3 # division entera

In [ ]:
7 % 3 # Modular

In [ ]:
2 ** 3 # 2 elevado al cubo

In [ ]:
#Funciones menos simples
import math
math.floor(2.3) # Funcion piso

In [ ]:
math.fabs(-5) # valor absoluto

In [ ]:
math.factorial(3) # Factorial

In [ ]:
math.exp(3) # e elevado a la x

In [ ]:
math.sqrt(9) # raiz cuadrada

In [ ]:
math.log(math.exp(2)) # Logaritmo natural

In [ ]:
print(math.floor(2.3))

In [33]:
longitud = 23
anchura = 15
area = longitud * anchura
print('Área es', area)
print('Perímetro es', 2 * (longitud + anchura))

Área es 345
Perímetro es 76

# **Estructuras de control**

---

**IF**

In [37]:
numero = 23
adivina = int(input('Tengo un número... ¿Adivine cuál es? : '))

if adivina == numero:
  # Aqui inicia nuevo bloque
  print('Bien, lo adivinaste.')
  # Aqui termina nuevo bloque
elif adivina < numero:
  # Otro bloque
  print('Casi. Es mas grande que ese número')
  # Termina bloque
else:
  print('Casi. Es mas pequeño que ese número')

Tengo un número... ¿Adivine cuál es? : 23
Bien, lo adivinaste.

**WHILE**

In [39]:
numero = 23
ejecutando= True

while ejecutando:
  adivina = int(input('Ingrese un entero : '))
  if adivina == numero:
    # Aqui inicia nuevo bloque
    print('Bien, lo adivinaste.')
    ejecutando= False
    # Aqui termina nuevo bloque
  elif adivina < numero:
    # Otro bloque
    print('Casi, es mas grande que ese número')
  # Termina bloque
  else:
      print('Casi, es mas pequeño que ese número')
else:
    print('El ciclo while ha terminado.')

Ingrese un entero : 23
Bien, lo adivinaste.
El ciclo while ha terminado.
Hecho

**FOR**

In [40]:
for i in range(1, 5):
  print(i)
else:
  print('El bucle ha terminado')

1
2
3
4
El bucle ha terminado

**BREAK**

In [42]:
while True:
  s = input('Ingrese palabra : ')
  if s == 'salir':
    break
  print('El largo de la cadena es ', len(s))

print('Hecho')

Ingrese palabra : salir
Hecho

**CONTINUE**

In [45]:
while True:
  s = input('Ingrese palabra : ')
  if s == 'salir':
    break
  if len(s) < 5:
    print('Muy corta')
    continue

kgprint('Listo, la palabra es larga')

Ingrese palabra : gik
Muy corta
Ingrese palabra : huj
Muy corta
Ingrese palabra : kj
Muy corta
Ingrese palabra : hkgtbuyt
Ingrese palabra : salir
Listo, la palabra es larga

#**Funciones**

In [46]:
def decir_hola():
  # bloque de la función
  print('Hola chiquill@s')
  # Fin de la función.


decir_hola() # llamada a la función
decir_hola() # llamada a la función nuevamente.

Hola chiquill@s
Hola chiquill@s

In [48]:
def imprimir_max(a, b):
  if a > b:
    print(a, 'es máximo')
  elif a == b:
    print(a, 'es igual que', b)
  else:
    print(b, 'es máximo')


# Pasando directamente los valores de variables
imprimir_max(28, 5)


x = 11
y = 10
# Pasando los valores de variables como argumentos
imprimir_max(x, y)

28 es máximo
11 es máximo
Hola
Chiquill@s Chiquill@s Chiquill@s Chiquill@s Chiquill@s

In [49]:
def hablar(mensaje, repetir=1):
  print(mensaje * repetir)



hablar('Hola')
hablar('Chiquill@s ', 5)

Hola
Chiquill@s Chiquill@s Chiquill@s Chiquill@s Chiquill@s

In [51]:
x = 28

def funcion(x):
  print('x es', x)
  x = 5
  print('Cambio valor local de x a', x)


funcion(x)
print('x todavia es', x)

x es 28
Cambio valor local de x a 5
x todavia es 28

In [52]:
x = 28

def funcion():
  global x

  print('x es', x)
  x = 5
  print('Cambio valor local de x a', x)

funcion()
print('x ahora es', x)

x es 28
Cambio valor local de x a 5
x ahora es 5

In [53]:
def maximo(x, y):
  if x > y:
    return x
  elif x == y:
    return 'Los números son iguales'
  else:
    return y


print(maximo(22, 4))

22

# **Estructura de Datos**

LISTAS

In [56]:
# Lista de productos a comprar
lista_compra = ['manzana', 'mango', 'fresas', 'kiwi']

print('Tengo que comprar', len(lista_compra), 'productos.')

print('Los productos son:', end=' ') #elimina el salto de linea



for producto in lista_compra:
  print(producto, end=' ')


print('\nAdicionalmente se debe comprar arroz.')
lista_compra.append('arroz')
print('La lista ahora es:', lista_compra)

lista_compra.sort()
print('La lista ordenada es:', lista_compra)
print('El primer producto a comprar es: ', lista_compra[0])

item = lista_compra[0]
print('Se compra el producto', item)


del lista_compra[0]

print('La lista ahora es:', lista_compra)

Tengo que comprar 4 productos.
Los productos son: manzana mango fresas kiwi
Adicionalmente se debe comprar arroz.
La lista ahora es: ['manzana', 'mango', 'fresas', 'kiwi', 'arroz']
La lista ordenada es: ['arroz', 'fresas', 'kiwi', 'mango', 'manzana']
El primer producto a comprar es:  arroz
Se compra el producto arroz
La lista ahora es: ['fresas', 'kiwi', 'mango', 'manzana']

TUPLAS

In [57]:
concesionario = ('BMW', 'Kia', 'Nissan')
print('La cantidad de marcas de carros en el concesionario es', len(concesionario))
nuevo_concesionario = ('Ford', concesionario)
print('La cantidad de objetos en el nuevo concesionario es',
len(nuevo_concesionario))
print('Las marcas en el nuevo concesionario son',
nuevo_concesionario)
print('Las marcas que vienen del viejo concesionario',
nuevo_concesionario[1])
print('La ultima marca que vienen del viejo concesionario',
nuevo_concesionario[1][2])
print('La cantidad de marcas en el nuevo concesionario',
len(nuevo_concesionario)-1+len(nuevo_concesionario[1]))

La cantidad de marcas de carros en el concesionario es 3
La cantidad de objetos en el nuevo concesionario es 2
Las marcas en el nuevo concesionario son ('Ford', ('BMW', 'Kia', 'Nissan'))
Las marcas que vienen del viejo concesionario ('BMW', 'Kia', 'Nissan')
La ultima marca que vienen del viejo concesionario Nissan
La cantidad de marcas en el nuevo concesionario 4

DICCIONARIO

In [ ]:
libreta = {
'Jonas': 'jonas@kahnwald.com',
'Martha': 'larry@nielsen.com',
'Ulrich': 'ulrich@nielsen.com',
'Egon': 'egon@tiedemann.com',
'Mikkel': 'mikkel@kahnwald.com'
}

# Para saber el correo de Ulrich
print("El correo de Ulrich es", libreta['Ulrich'])
# Eliminar a Egon
del libreta['Egon']

print('\nHay {} contactos en la libreta\n'.format(len(libreta)))


# Mostrar los contactos
for nombre, correo in libreta.items():
  print('Contacto {}, correo {}'.format(nombre, correo))

# Agregar contacto
libreta['Claudia'] = 'claudia@tiedemann.com'


# Mostrar contacto agregado
if 'Claudia' in libreta:
  print("\nEl correo de Claudia es ", libreta['Claudia'])

SECUENCIA

In [61]:
lista_frutas = ['manzana', 'mango', 'fresa', 'kiwi']
cadena_autor = 'Jonas'

# Acceder a una
print('Elemento 0 es', lista_frutas[0])
print('Elemento 2 es', lista_frutas[2])
print('Caracter 0 es', cadena_autor[0])
print('Caracter 3  es', cadena_autor[3])

Elemento 0 es manzana
Elemento 2 es fresa
Caracter 0 es J
Caracter 3  es a

In [ ]:
#Slicing en lista
print('Elementos desde 1 a 3 son', lista_frutas[1:3])
print('Elementos desde 2 hasta final son', lista_frutas[2:])
print('Elementos desde inicio hasta final', lista_frutas[:])
print('Elementos desde inicio hasta 3', lista_frutas[:3])

In [ ]:
#Slicing en cadena de texto
print('Caracteres desde 2 a 3 son', cadena_autor[2:3])
print('Caracteres desde 2 al final son', cadena_autor[2:])
print('Caracteres dede inicio hasta final', cadena_autor[:])

In [66]:
lista_frutas = ['manzana', 'mango', 'fresa', 'kiwi', 'naranja', 'sandia']
#Slicing toda la lista, con tamano 1
print(lista_frutas[::1])
#Slicing toda la lista, con tamano 2.
#Toma el primero, cuenta y va mostrando cada 2 posiciones.
print(lista_frutas[::2])
#Slicing toda la lista, con tamano 3.
print(lista_frutas[::3])

['manzana', 'mango', 'fresa', 'kiwi', 'naranja', 'sandia']
['manzana', 'fresa', 'naranja']
['manzana', 'kiwi']

CONJUNTOS

In [68]:
sudamerica= set(['Argentina', 'Bolivia', 'Brasil', 'Chile','Colombia', 'Ecuador', 'Paraguay', 'Peru', 'Uruguary', 'Venezuela'])

# Consultar si un pais pertenece a sudamerica
'Ecuador' in sudamerica

# Sacamos una copia del conjunto sudamerica.
# En Python si en lugar de usar .copy se asignaba directamente
# a sudamerica2 el contenido de sudamerica
# Cambio realizado en uno de ellos se se reflejaria en ambos conjuntos.
sudamerica2= sudamerica.copy()
# Agregamos Guyana
sudamerica2.add('Guyana')
# Verifica si es superconjunto.
# True si cada elemento del conjunto sudamerica está en conjunto sudamerica2.
print(sudamerica2.issuperset(sudamerica))
# Elimina elementos del conjunto
sudamerica.remove('Colombia')
sudamerica.remove('Peru')
sudamerica.remove('Bolivia')
# Aplica interseccion de conjuntos, o sea los paises que estan en embos conjuntos
print(sudamerica2.intersection(sudamerica))

True
{'Venezuela', 'Argentina', 'Uruguary', 'Brasil', 'Chile', 'Paraguay', 'Ecuador'}